body {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1px;
  line-height: 1.8;
  color: #051922;
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-11
 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {
  .col-lg-1 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-lg {
    margin-left: 16.666667%;
  }
  .offset-lg-0{
    margin-left: 12%;

  }
  .offset-lg-1{
    margin-left: 5%;
  }

}
.text-center {
  text-align: center !important;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #F28123;
  text-decoration: none;
}

h1, .h1,
h2, .h2,
h3, .h3
 {
  font-family: "Poppins";
  font-weight: 700;
  margin: 0 0 1.25rem 0;
  color: #051922;
}


h1, .h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
}

@media only screen and (max-width: 767.96px) {
  h1, .h1 {
    font-size: 3rem;
    line-height: 3.25rem;
  }
}

@media only screen and (max-width: 575.96px) {
  h1, .h1 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

h2, .h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.25rem;
}

@media only screen and (max-width: 767.96px) {
  h2, .h2 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

@media only screen and (max-width: 575.96px) {
  h2, .h2 {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

h3, .h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.25rem;
}

@media only screen and (max-width: 575.96px) {
  h3, .h3 {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}


p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1px;
  line-height: 1.8;
  color: #051922;
  margin: 0 0 1.25rem 0;
}

.loader {           /* -----------*/
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1111;
  background: #F9E6E2 ;
  overflow-x: hidden;
}

.loader-inner { /* -----------*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
}

.circle {     /* -----------*/
  width: 8vmax;
  height: 8vmax;
  border-right: 4px solid #842611;
  border-radius: 50%;
  animation: spinRight 800ms linear infinite;
}

.circle:before {      /* -----------*/
  content: '';
  width: 6vmax;
  height: 6vmax;
  display: block;
  position: absolute;
  top: calc(50% - 3vmax);
  left: calc(50% - 3vmax);
  border-left: 3px solid #F28123;
  border-radius: 100%;
  animation: spinLeft 800ms linear infinite;
}

.circle:after {       /* -----------*/
  content: '';
  width: 6vmax;
  height: 6vmax;
  display: block;
  position: absolute;
  top: calc(50% - 3vmax);
  left: calc(50% - 3vmax);
  border-left: 3px solid #F28123;
  border-radius: 100%;
  animation: spinLeft 800ms linear infinite;
  width: 4vmax;
  height: 4vmax;
  top: calc(50% - 2vmax);
  left: calc(50% - 2vmax);
  border: 0;
  border-right: 2px solid #842611;
  animation: none;
}

@-webkit-keyframes spinLeft {     /* -----------*/
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

@keyframes spinLeft {         /* -----------*/
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

@-webkit-keyframes spinRight {      /* -----------*/
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes spinRight {      /* -----------*/
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.mt-150 {
  margin-top: 150px;
}

@media only screen and (max-width: 767.96px) {
  .mt-150 {
    margin-top: 1000px;
  }
}

.mb-150 {
  margin-bottom: 150px;
}

@media only screen and (max-width: 767.96px) {
  .mb-150 {
    margin-bottom: 100px;
  }
}

.pt-80 {
  padding-top: 80px;
}

@media only screen and (max-width: 767.96px) {
  .pt-80 {
    padding-top: 50px;
  }
}

.pb-80 {
  padding-bottom: 80px;
}

@media only screen and (max-width: 767.96px) {
  .pb-80 {
    padding-bottom: 50px;
  }
}

.pt-100 {
  padding-top: 100px;
}

@media only screen and (max-width: 767.96px) {
  .pt-100 {
    padding-top: 80px;
  }
}

.pb-100 {
  padding-bottom: 100px;
}

@media only screen and (max-width: 767.96px) {
  .pb-100 {
    padding-bottom: 80px;
  }
}

.pt-150 {
  padding-top: 150px;
}

@media only screen and (max-width: 767.96px) {
  .pt-150 {
    padding-top: 100px;
  }
}

.pb-150 {
  padding-bottom: 150px;
}

@media only screen and (max-width: 767.96px) {
  .pb-150 {
    padding-bottom: 100px;
  }
}

.orange-text {
  color: #F28123;
}

a.boxed-btn {
  font-family: 'Poppins';
  display: inline-block;
  background-color: #F28123;
  color: #fff;
  padding: 10px 20px;
}

a.bordered-btn {
  font-family: 'Poppins';
  display: inline-block;
  color: #fff;
  border: 2px solid #F28123;
  padding: 7px 20px;
}

@media only screen and (max-width: 767.96px) {
  a.boxed-btn {
    padding: 7px 20px;
  }
  a.bordered-btn{
    padding: 7px 20px;
  }
}

a.read-more-btn {
  display: inline-block;
  margin-top: 15px;
  color: #051922;
  transition: 0.3s;
  font-weight: 700;
}

a.read-more-btn:hover {
  color: #F28123;
}

a.boxed-btn, a.bordered-btn {
  border-radius: 50px;
}

.section-title h3 {
  font-size: 40px;
  position: relative;
  padding-bottom: 15px;
}

.section-title h3:after {
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 50px;
  height: 2px;
  background-color: #F28123;
  margin: 0 auto;
}

.section-title p {
  font-size: 15px;
  width: 530px;
  margin: 0 auto;
  color: #555;
  margin-top: 10px;
  line-height: 1.8;
}

.section-title {
  margin-bottom: 80px;
}


/* -----------------------------------------------------------------------------

# Header Styles

----------------------------------------------------------------------------- */
.top-header-area {
  position: absolute;
  z-index: 999;
  width: 100%;
  padding: 25px 0;
}

nav.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav.main-menu ul li {
  display: inline-block;
}

nav.main-menu ul li a {
  color: #fff;
  font-weight: 700;
  display: block;
  padding: 15px;
}

nav.main-menu ul > li {
  position: relative;
}

nav.main-menu ul ul.sub-menu {
  position: absolute;
  background-color: #fff;
  width: 220px;
  padding: 15px 15px;
  margin: 0;
  left: 0;
  top: 50px;
  border-radius: 3px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 20px #555555;
}

nav.main-menu ul ul.sub-menu li {
  display: flex;
  text-align: left;
}

nav.main-menu ul > li:hover ul {
  opacity: 1;
  visibility: visible;
}

nav.main-menu ul li:last-child a {
  display: inline-block;
}

nav.main-menu > ul li:last-child {
  float: right;
}
nav.main-menu ul ul.sub-menu li a {
  color: #555;
  padding: 8px;
  font-size: 13px;
  font-weight: 600;
}

nav.main-menu ul ul.sub-menu li {
  display: block;
}

nav.main-menu ul li.current-list-item > a {
  color: #F28123;
}

nav.main-menu li:hover > a {
  color: #F28123;
}

nav.main-menu li a {
  transition: 0.3s;
}

ul.sub-menu li:last-child {
  float: none !important;
}

.main-menu-wrap {
  position: relative;
}

.site-logo {
  float: left;
  max-width: 250px;
  padding: 5px 0;
}

.header-icons a {
  color: #fff;
  display: inline-block;
  margin-top: 6px;
}

.top-header-area .header-icons a {
  transition: 0.3s;
}

.top-header-area .header-icons a:hover {
  color: #F28123;
}

.sticky-wrapper {     /* -----------*/
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999 !important;
}

.sticky-wrapper.is-sticky .top-header-area {    /* -----------*/
  background-color: #842611;
  padding: 15px 0;
}

.top-header-area {        /* -----------*/
  transition: 0.3s;
}

.search-area {      /* -----------*/
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5555;
  background-color: #051922;
  width: 100%;
  height: 100%;
  text-align: center;
}

span.close-btn {      /* -----------*/
  position: absolute;
  right: 0%;
  color: #fff;
  top: 5%;
  cursor: pointer;
}

.search-area {      /* -----------*/
  height: 100%;
}

.search-area div {      /* -----------*/
  height: 100%;
}

.search-bar {       /* -----------*/
  height: 100%;
  display: table;
  width: 100%;
}


.search-area .search-bar div.search-bar-tablecell {   /* -----------*/
  display: table-cell;
  vertical-align: middle;
  height: auto;
}

.search-bar-tablecell input {       /* -----------*/
  border: none;
  padding: 15px;
  width: 60%;
  background-color: transparent;
  border-bottom: 1px solid #F28123;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #fff;
}

.search-bar-tablecell button[type=submit] {     /* -----------*/
  border: none;
  background-color: #F28123;
  padding: 15px 30px;
  cursor: pointer;
  display: inline-block;
  border-radius: 50px;
  font-weight: 700;
}

.search-bar-tablecell input::-webkit-input-placeholder {      /* -----------*/
  color: #fff;
}

.search-bar-tablecell input:-ms-input-placeholder {       /* -----------*/
  color: #fff;
}

.search-bar-tablecell input::-ms-input-placeholder {      /* -----------*/
  color: #fff;
}

.search-bar-tablecell input::placeholder {      /* -----------*/
  color: #fff;
}

.search-bar-tablecell button[type=submit] i {     /* -----------*/
  margin-left: 5px;
}

.search-area {        /* -----------*/
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.search-area.search-active {      /* -----------*/
  visibility: visible;
  opacity: 1;
  z-index: 999;
}

.search-bar-tablecell h3 {      /* -----------*/
  color: #fff;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 7px;
}
a.mobile-show {
  display: none;
}

/* -----------------------------------------------------------------------------

# Footer Styles

----------------------------------------------------------------------------- */


.footer-area {
  background-color: #051922;
  color: #fff;
  padding: 150px 0;
}

h2.widget-title {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  padding-bottom: 20px;
  color: #fff;
}

h2.widget-title:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 2px;
  background-color: #F28123;
  content: "";
}

.footer-box p {
  color: #fff;
  opacity: 0.7;
  line-height: 1.8;
}

.footer-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-box ul li {
  opacity: 0.7;
  margin-bottom: 10px;
  line-height: 1.8;
}

.footer-box ul li:last-child {
  margin-bottom: 0;
}

.footer-box.subscribe form input[type=email] {
  border: none;
  background-color: #012738;
  width: 78%;
  padding: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  margin-bottom: 5px;
}

.footer-box.subscribe form button {
  width: 20%;
  border: none;
  background-color: #012738;
  color: #F28123;
  padding: 14px 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

.footer-box.subscribe form button:focus {
  outline: none;
}

.footer-box ul li a {
  color: #fff;
}

.footer-box.pages ul li {
  position: relative;
  padding-left: 20px;
}

.footer-box.pages ul li:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #F28123;
}

/* -----------------------------------------------------------------------------

# Hover Styles

----------------------------------------------------------------------------- */
a.boxed-btn {
  transition: 0.3s;
}

a.boxed-btn:hover {
  background-color: #051922;
  color: #F28123;
}

a.bordered-btn {
  transition: 0.3s;
}

.eventCard:hover  {
  opacity: 0.8;
}

.eventCard {
  box-shadow: 0 0 20px #dddddd;
  transition: 0.3s;
}

.eventCard:hover {
  box-shadow: 0 0 0;
  box-shadow: none;
}

.footer-box.pages ul li a {
  transition: 0.3s;
}

.footer-box.pages ul li:hover a {
  color: #F28123;
}

.footer-box.subscribe form button {
  transition: 0.3s;
}

.footer-box.subscribe form button:hover {
  background-color: #F28123;
  color: #051922;
}

input[type="submit"] {
  transition: 0.3s;
  border-radius: 50px !important;
}

input[type="submit"]:hover {
  background-color: #051922;
  color: #F28123;
}

.product-image img {
  transition: 0.3s;
}

.product-image img:hover {
  box-shadow: none;
}

a.cart-btn {
  transition: 0.3s;
}

a.cart-btn:hover {
  background-color: #051922;
  color: #F28123;
}
ul.sub-menu li a {
  transition: 0.3s;
}

ul.sub-menu li:hover a {
  color: #F28123 !important;
}

.single-product-item {
  background-color: white;
  transition: 0.3s;
}

.single-product-item:hover {
  box-shadow: none;
}

.search-bar-tablecell button[type=submit] {
  transition: 0.3s;
}

.search-bar-tablecell button[type=submit]:hover {
  background-color: #fff;
  color: #000;
}

span.close-btn {
  transition: 0.3s;
}

span.close-btn:hover {
  color: #fff;
}

a.mobile-show.search-bar-icon {
  transition: 0.3s;
}

a.mobile-show.search-bar-icon:hover {
  color: #F28123;
}

/* -----------------------------------------------------------------------------

# Hero Styles

----------------------------------------------------------------------------- */
.hero-bg {
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-text {
  display: table;
  height: 100%;
}

.hero-text-tablecell {
  display: table-cell;
}

.hero-area {
  height: 70%;
  position: relative;
  z-index: 1;
}

html, body {
  height: 100%;
  background-color: whitesmoke;
}

.hero-area:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #07212e;
  z-index: -1;
  opacity: 0.6;
}

.hero-text p.subtitle {
  color: #F28123;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 15px;
}

.hero-text h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.3;
  color: #fff;
}

.hero-area div {
  height: 100%;
}

.hero-area div.hero-text {
  height: 100%;
  width: 100%;
}

.hero-area div.hero-text-tablecell {
  height: auto;
  vertical-align: middle;
}

.hero-area div.hero-text-tablecell div {
  height: auto;
  vertical-align: middle;
}

.hero-btns {
  margin-top: 50px;
}

.hero-btns a.bordered-btn {
  margin-left: 15px;
}

.hero-area div.hero-form {
  background-color: #fff;
  text-align: center;
  width: 380px;
  margin: 0 auto;
  margin-right: 0;
  border-radius: 5px;
  box-shadow: 0 0 15px #2d2d2d;
  position: absolute;
  right: 30px;
  bottom: -15%;
  height: 600px;
}

input[type="submit"] {
  background-color: #F28123;
  color: #051922;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  border: none !important;
  cursor: pointer;
  padding: 15px 25px;
  border-radius: 3px;
}



/* -----------------------------------------------------------------------------

# Events Styles

----------------------------------------------------------------------------- */
.event-bg-1 {
  background-image: url(../img/Events/Chocolate1.jpg);
  background-position: center;
}

.event-bg-2 {
  background-image: url(../img/Events/Event1.jpg);
}

.event-bg-3 {
  background-image: url(../img/Events/Waffle.jpg);
}

.event-bg {
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  background-color: #ddd;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.eventCard h3 {
  font-size: 20px;
  line-height: 1.25em;
  font-weight: 600;
}

.eventCard h3 a {
  color: #051922;
}

p.excerpt {
  line-height: 1.8;
  color: #555;
}

a.boxed-btn {
  margin-top: 80px;
}

.event-text-box {
  padding: 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.eventCard {
  margin-bottom: 30px;
}

/* -----------------------------------------------------------------------------

# Shop Page Styles

----------------------------------------------------------------------------- */

.single-product-item {
  margin-bottom: 30px;
}

.product-image {
  padding: 30px;
  padding-bottom: 0;
}

.product-image img {
  width: 90%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.single-product-item h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

p.product-price {
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

p.product-price span {
  display: block;
  opacity: 0.8;
  font-size: 15px;
  font-weight: 400;
}

a.cart-btn {
  font-family: 'Poppins';
  display: inline-block;
  background-color: #F28123;
  color: #fff;
  padding: 10px 20px;
}

a.cart-btn i {
  margin-right: 5px;
}

.single-product-img img {
  border-radius: 5px;
  box-shadow: 0 0 20px #ddd;
}

.single-product-content h3 {
  font-size: 22px;
  font-weight: 600;
}

p.single-product-pricing span {
  font-size: 18px;
  display: block;
  opacity: 0.8;
  margin-bottom: 10px;
  font-weight: 400;
}

.single-product-content p {
  font-size: 15px;
  color: #555;
  line-height: 1.8;
}

.single-product-content p.single-product-pricing {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #051922;
  line-height: inherit;
}

input[type="number"] {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  margin-bottom: 15px;
}

.single-product-item {
  box-shadow: 0 0 20px #e4e4e4;
  padding-bottom: 50px;
  border-radius: 5px;
}

